admin/
.ksyms.S
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
_minted-main/
*.vrb
*.so
*.o
*.bin
.*-depend
isodir/
*.sym
*.bin
*.vscode
.idea/
*.iso
*.a
gdb.script
disk.img
root_fs/
arch/arch.h
*.code-workspace
*.elf
user/bin/
.DS_Store
.gen/
user/disk_image/
user/tests/gentestdata/
.venv/
__pycache__/
.cache/
compile_commands.json
